<!DOCTYPE html>
<html lang="en">
<head>
    <title>YT-旧号绑定说明</title>
    <meta charset="UTF-8">
    <title>Title</title>
    <include file="../xmyttz/view/aghead.html" />
    <style>
        .old img{
            width: 50%;
            height: 50%;
        }
    </style>
</head>

<body>
<include file="../xmyttz/view/newheader.html" />
<div class="pc">
    <div style="    margin: 18px 16px 16px 24px;text-align: center">
    <div class="">{$old.content}</div>
    </div>
</div>
<div class="phone">
    <div style="    margin: 18px 16px 16px 24px;text-align: center">
     <div class="old">{$old.content}</div>
    </div>
</div>
<include file="../xmyttz/view/newfooter.html" />
</body>
</html>