<!DOCTYPE html>
<html>
<head>
	<title>Yingtou-设置昵称</title>
    <include file="../xmyttz/view/head.html"/>
	<link href="/Public/css/index.css" rel="stylesheet" type="text/css" />
	<script>var user_active='.userInfo';var nav_active="#nav_user";</script>
    <link href="/Public/css/user.css" rel="stylesheet" type="text/css" />
    <script src="/Public/js/user.js" type="text/javascript"></script>
</head>

<body>
<include file="../xmyttz/view/header.html"/>
<div id="header">
	<a href="javascript:history.back(-1)" class="back"><img src="__ROOT__/Public/img/mt_back.png" alt="" width=25 height=25></a>
	<img src="/Public/img/list.png" alt="" class="list">
	昵称修改
</div>
<div class="user_content">
<div class="user_box">
	<include file="../xmyttz/view/user_left.html"/>
    <div class="user_right">
		<h4><span>昵称修改</span><a href="/{$Request.module}/{$Request.controller}/userInfo">返回设置</a></h4>
		<div id="setname">
			<div id="error_info" class="error_info"><img src="/Public/img/error.png" alt=""><span id="error_span" class="error_span"></span></div>
			<p>您当前的昵称为：{$username}</p>
			<p>设置您的个性昵称</p>
			<p><input type="text" name="username" class="name_input"></p>
			<p style="color:#999;font-size:14px;">昵称可由中文、大写英文、小写英文、数字、下划线组合，中文长度在1-8位之间，英文在2-16位之间。</p>
			<button class="setname_sub" type="button">提交</button>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>
</div>
<div class="tanchu_system small" id="setname_success">
	<div class="tanchu_system_box">
		<h3>修改昵称成功</h3>
		<div class="question"><img src="/Public/img/success.png" alt=""><div class="tanchu_content"><p>修改昵称成功！</p></div></div>
		<div class="answer">
			<a href="/personal/user/user" class="error">确定</a>
		</div>
	</div>
</div>
<include file="../xmyttz/view/footer.html"/>
</body>
</html>