<!DOCTYPE html>
<html>
<head>
<include file="../xmyttz/view/adminHead.html"/>
</head>
<body>
	<div id="right">
		<div class="right_nav"><a href="/{$Request.module}/{$Request.controller}/yt_invitelist">【返回列表】</a></div>
		<div class="right_content">

			<p><span class="left_inp_name">代理代码：</span><input type="text" name="invite_code" class="text" id="invite_code" ></p>
			<p><span class="left_inp_name">代理姓名：</span><input type="text" name="invite_name" class="text" id="invite_name" ></p>
			<p><span class="left_inp_name">账号前三位：</span><input type="text" name="account_front" class="text" id="account_front" ></p>
			<p><span class="left_inp_name">保证金：</span><input type="text"  name="bail" class="text" id="bail" ></p>
			<p><span class="left_inp_name">柜台级别：</span><input type="text" name="group" class="text" id="level" ></p>
			<p><span class="left_inp_name">所属分组：</span><input type="text"name="level"   class="text" id="group" ></p>
			<p><span class="left_inp_name">手续费：</span><input type="text" name="fee" class="text" id="fee" ></p>
			<p><span class="left_inp_name">代理手机：</span><input type="text" name="phone" class="text" id="phone" ></p>
			<p><span class="left_inp_name">代理密码：</span><input type="text" name="password" class="text" id="password" ></p>

			<a href="javascript:;" class="right_btn capital_btn" id="confirm_add_invite">添加</a>
			<a href="javascript:;" class="right_btn capital_btn" id="back_invitelist">返回</a></div>

	</div>
</body>
</html>