<!DOCTYPE html>
<html>
<head> 
    <include file="../xmyttz/view/head.html"/>
	<link href="/Public/css/index.css" rel="stylesheet" type="text/css" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
	<script>var user_active='.recharge';var nav_active="#nav_user";var belong = 'xmyttz';</script>
    <link href="/Public/css/user.css" rel="stylesheet" type="text/css" />
    <script src="/Public/js/user.js" type="text/javascript"></script>
	<style>
		.footer {
			min-width: 1263px;
			background: #222;
			clear: both;
			text-align: center;
		}
		.footer .top {
			width: 100%;
			height: 0px;
			margin: 0 auto;
		}
	</style>
</head>
<body>
<include file="../xmyttz/view/header.html"/>
<div class="user_box">
<div class="user_right">
	<div class="show_addr">
		<a href="/index/index/index" class="hit">首页</a><span class="sep"> &gt; </span>国际限仓<span id="show_name"></span>
	</div>

	<div class="recharge">
		<div class="jump_left jump_content">
			<div class="jump_box">
				<div class="tongdao" style="float:left">

					<ul class="method_box" >

						<foreach name="payway" item="v">
							<li data="show"  href="javascript:;" class="method_a" id="{$v.sign}">{$v.name}</li>
						</foreach></ul>
					<!--<div class="pc">-->
					<!--<li href="javascript:;"  class="method_a" data="show" id="to_refresh" >刷新页面</li>-->
					<!--</div>-->

					<!--<div class="remind deposit ">-->
					<!--<p><b class="blue" style="font-weight:normal;">出金银行卡在第一次入金时绑定，入金可以自行切换不同银行，按充值在跳转的页面填写另外银行卡即可。</b>入金由第三方收取手续费为付款金额的0.3%(如付款1万，手续费30),单笔最高10万元，最低500元，到帐后处理时间15分钟左右，请耐心等待！入金的时间为每个交易日上午08：30至次日05：30分，未及时到帐号请联系客服！请先开通网银，申请各家银行UKEY或U盾或K令，各家银行额度限制请向客服索要详表。农业银行不支持K码/K令，请使用K宝。</p>-->
					<!--</div>-->
					<!--<div class="remind webllpay  hide">-->
					<!--<p><b class="blue" style="font-weight:normal;">出金银行卡在第一次入金时绑定，入金可以自行切换不同银行，按充值在跳转的页面填写另外银行卡即可。</b>入金由第三方收取手续费为付款金额的0.3%(如付款1万，手续费30),单笔最高10万元，最低500元，到帐后处理时间15分钟左右，请耐心等待！入金的时间为每个交易日上午08：30至次日05：30分，未及时到帐号请联系客服！请先开通网银，申请各家银行UKEY或U盾或K令，各家银行额度限制请向客服索要详表。</p>-->
					<!--</div>-->
					<!--<div class="remind zfb_deposit ">-->
					<!--<p><b class="blue" style="font-weight:normal;">出金银行卡在第一次入金时绑定，入金可以自行切换不同银行，按充值在跳转的页面填写另外银行卡即可。</b>入金手续费为付款金额的0.3%（如：付款1万元，手续费30元），单笔最高为10万元，最低为500元，到帐后处理时间为15分钟左右，请耐心等待！如30分钟以上资金未到帐号，请及时与联系我司客服联系！入金时间：每个交易日08:30至次日凌晨05：00。首次使用请用手机下载支付宝</p>-->
					<!--</div>-->
					<!--<div class="remind weixin_deposit ">-->
					<!--<p><b class="blue" style="font-weight:normal;">出金银行卡在第一次入金时绑定，入金可以自行切换不同银行，按充值在跳转的页面填写另外银行卡即可。</b>入金手续费为付款金额的0.3%（如：付款1万元，手续费30元），单笔最高为10万元，最低为500元，到帐后处理时间为15分钟左右，请耐心等待！如30分钟以上资金未到帐号，请及时与联系我司客服联系！入金时间：每个交易日08:30至次日凌晨05：00。首次使用请用手机下载微信</p>-->
					<!--</div>-->
				</div>
			</div>
		</div>

	<input type="hidden" value="{$out_orderid}" id="out_orderid">
	<input type="hidden" value="aqihuo" id="agent_type">
	<input type="hidden" value="{$user.a_account}" id="account">
		<input type="hidden" value="{$user.id}" id="userid">
		<div class="pc">
			<div class="tishi remind capital">
				<div  class="pol">
					<p class="str">风险提示：</p>
					<p>01.开户收到账号密码后，请及时使用电脑登录修改密码。提醒勿相信代操盘稳盈利说词，勿将密码告之他人。</p>
					<p>02.请绑定提款银行卡，此为唯一提款卡号不可更改。每次充值请再次复核提款银行卡是否无误，以进一步保障交易账号资金安全</p>
					<p>03.提醒所有投资者要牢记期市交易有风险，交易需谨慎而为，做足功课，量力而行，理性参与，学会真假盘的辨别方法，远离假盘。</p>
					<p>04.在交易前请先确认好交易品种手续费，开始交易即代表您接受并默认账户所设置的手续费。</p>
				</div>
				<div class="tishis">
					<p class="str_o">网银充值01须知：</p>
					<p style="color:rgb(0,120,181)">01.农业银行不支持K码/K令，请使用K宝。</p>
					<p>02.充值可更换使用不同的多张银行卡，不受绑定的提款银行卡限制。</p>
					<p>03.充值由第三方收取付款金额的0.3%作为通道费，举例如充值1万扣取30，以此类推。</p>
					<p>04.充值金额单笔最高10万元，最低500元，另外依您个人银行的限额每个人不同，请自行咨询银行。</p>
					<p>05.处理时间为每个交易日上午08：30至次日05：30分，到帐后20分钟左右入到相应账号，请耐心等待！如未及时处理请与我客服联系</p>
					<p>06.网银充值请先开通网银，申请各家银行UKEY或U盾或K令。</p>
				</div>
			</div>
			<div class="tishi remind prior">
				<div  class="pol">
					<p class="str">风险提示：</p>
					<p>01.开户收到账号密码后，请及时使用电脑登录修改密码。提醒勿相信代操盘稳盈利说词，勿将密码告之他人。</p>
					<p>02.请绑定提款银行卡，此为唯一提款卡号不可更改。每次充值请再次复核提款银行卡是否无误，以进一步保障交易账号资金安全</p>
					<p>03.提醒所有投资者要牢记期市交易有风险，交易需谨慎而为，做足功课，量力而行，理性参与，学会真假盘的辨别方法，远离假盘。</p>
					<p>04.在交易前请先确认好交易品种手续费，开始交易即代表您接受并默认账户所设置的手续费。</p>
				</div>
				<div class="tishis ">
					<p class="str_o">出入金须知：</p>
					<p style="color:rgb(0,120,181)">01.出金银行卡在第一次入金时绑定，入金可以自行切换不同银行，按充值在跳转的页面填写另外银行卡即可。</p>
					<p>02.入金由第三方收取手续费为付款金额的0.3%(如付款1万，手续费30),单笔最高10万元，最低500元，到帐后处理时间15分钟左右，请耐心等待！</p>
					<p>03.入金的时间为每个交易日上午08：30至次日05：30分，未及时到帐号请联系客服！</p>
					<p>04.请先开通网银，申请各家银行UKEY或U盾或K令，各家银行额度限制请向客服索要详表。</p>
				</div>
			</div>


		</div>
		<div class="recharge_num recharge_box">
			<span>账号姓名：</span>
			<ul>
				<input type="text" style="background-color: rgba(0,0,0,0.2)" value="{$user.name}" readonly   >
			</ul>
		</div>
		<div class=" recharge_num recharge_box">
			<span>出金卡号：</span>
			<ul>
				<input type="text" style="background-color: rgba(0,0,0,0.2);width: 150px" value="{$user.card}" readonly   >
			</ul>
		</div>
		<div class=" recharge_num recharge_box">
			<span>提款银行：</span>
			<ul>
				<input type="text" style="background-color: rgba(0,0,0,0.2);" value="{$user.bankname}" readonly   >
			</ul>
		</div>
		<div class="recharge_type recharge_box">


			<!--<div class="remind deposit ">-->
			<!--<p><b class="blue" style="font-weight:normal;">出金银行卡在第一次入金时绑定，入金可以自行切换不同银行，按充值在跳转的页面填写另外银行卡即可。</b>入金由第三方收取手续费为付款金额的0.3%(如付款1万，手续费30),单笔最高10万元，最低500元，到帐后处理时间15分钟左右，请耐心等待！入金的时间为每个交易日上午08：30至次日05：30分，未及时到帐号请联系客服！请先开通网银，申请各家银行UKEY或U盾或K令，各家银行额度限制请向客服索要详表。农业银行不支持K码/K令，请使用K宝。</p>-->
			<!--</div>-->
			<!--<div class="remind webllpay  hide">-->
			<!--<p><b class="blue" style="font-weight:normal;">出金银行卡在第一次入金时绑定，入金可以自行切换不同银行，按充值在跳转的页面填写另外银行卡即可。</b>入金由第三方收取手续费为付款金额的0.3%(如付款1万，手续费30),单笔最高10万元，最低500元，到帐后处理时间15分钟左右，请耐心等待！入金的时间为每个交易日上午08：30至次日05：30分，未及时到帐号请联系客服！请先开通网银，申请各家银行UKEY或U盾或K令，各家银行额度限制请向客服索要详表。</p>-->
			<!--</div>-->
			<!--<div class="remind zfb_deposit ">-->
			<!--<p><b class="blue" style="font-weight:normal;">出金银行卡在第一次入金时绑定，入金可以自行切换不同银行，按充值在跳转的页面填写另外银行卡即可。</b>入金手续费为付款金额的0.3%（如：付款1万元，手续费30元），单笔最高为10万元，最低为500元，到帐后处理时间为15分钟左右，请耐心等待！如30分钟以上资金未到帐号，请及时与联系我司客服联系！入金时间：每个交易日08:30至次日凌晨05：00。首次使用请用手机下载支付宝</p>-->
			<!--</div>-->
			<!--<div class="remind weixin_deposit ">-->
			<!--<p><b class="blue" style="font-weight:normal;">出金银行卡在第一次入金时绑定，入金可以自行切换不同银行，按充值在跳转的页面填写另外银行卡即可。</b>入金手续费为付款金额的0.3%（如：付款1万元，手续费30元），单笔最高为10万元，最低为500元，到帐后处理时间为15分钟左右，请耐心等待！如30分钟以上资金未到帐号，请及时与联系我司客服联系！入金时间：每个交易日08:30至次日凌晨05：00。首次使用请用手机下载微信</p>-->
			<!--</div>-->

		<span>期货类型：</span>
		<ul>
			<li class="active"><a href="/{$Request.module}/{$Request.controller}/adjust">国际期货</a></li>
		</ul>
	</div>

	<div class="recharge_type recharge_box">
		<span>交易账号：</span>
		<ul>
			<li class="active">{$user.a_account}</li>
		</ul>
	</div>
	<div class="recharge_box qihuo_type">
		<span>品种选择：</span>
		<div class="hand_contract" id="hand_contract">
			<label><input name="contract" type="radio" checked="selected" value="小恒指、小H股、人民币、富时">小恒指、小H股、人民币、富时</label>
			<label><input name="contract" type="radio" value="小德指">小德指</label>
			<label><input name="contract" type="radio" value="大恒指、原油、天然气、黄金、精通、小标、小纳、小道、外汇">大恒指、原油、天然气、黄金、精通、小标、小纳、小道、外汇</label>
			<label><input name="contract" type="radio" value="大德指、白银">大德指、白银</label>
		</div>
		<div style="clear:both;"></div>
	</div>
	<div class="recharge_box qihuo_hands">
		<span>手数选择：</span>
		<ul class="hands" id="hands">
			<li class="active">1手</li>
			<li>2手</li>
			<li>3手</li>
			<li>4手</li>
			<li>5手</li>
			<li>6手</li>
			<li>7手</li>
			<li>8手</li>
			<li>9手</li>
			<li>10手</li>
		</ul>
		<div style="clear:both;"></div>
	</div>
		<div class="qihuo_num" >
			<input type="hidden"  name="expenses" id="expenses" value="2000">
			<div class="hands_choice recharge_box ">
				<span >优先选择：</span></div>
			<div  class="num" id="num">
				<label ><input name="num" type="radio" value="2000" checked><span>2000美元</span></label>
				<label><input name="num" type="radio" value="4000"><span>4000美元</span></label>
				<label><input name="num" type="radio" value="5000"><span>5000美元</span></label>
				<label><input name="num" type="radio" value="8000"><span>8000美元</span></label>
				<label><input name="num" type="radio" value="10000"><span>10000美元</span></label>
				<label><input name="num" type="radio" value="20000"><span>20000美元</span></label>
				<label><input name="num" type="radio" value="30000"><span>30000美元</span></label>
				<label  style="white-space: nowrap"><input name="num" type="radio"  id="money"><span >5000美元*</span><div style="position: absolute;display: inline-block"><input type="text" style="width: 30px" id="other_num" ><b style="font-weight: normal">=</b><b style="font-weight: normal" name="num" id="other_cash"  >0美元</b></div></label>
			</div>

		</div>
	<div class="recharge_btn_box recharge_box" style="text-align:center;clear:both;margin: 120px 0 0 0;">
		
		<button type="button" class="recharge_btn" id="add_hands">申请增加</button>
		<button type="button" class="recharge_btn" id="dec_hands" style="margin-left:20px;">申请减少</button>
		<button type="button" class="recharge_btn" id="add_prior">申请增加</button>
		<button type="button" class="recharge_btn" id="dec_prior">申请减少</button>
		<button type="button" class="recharge_btn" onClick="location.href='/{$Request.module}/User/user'" style="margin-left:20px;">返回中心</button>
	</div>	
</div>
<div style="clear:both;"></div>
</div>
</div>
<div class="phone">

</div>
<div class="tanchu_system" id="prior_yes">
	<div class="tanchu_system_box">
		<h3>申请调整手数提交成功</h3>
		<div class="question"><img src="/Public/img/success.png" alt=""><div class="tanchu_content"><p>工作日期间，处理时间为20分钟左右,请耐心等待！</p></div></div>
		<div class="answer">
			<a href="/Personal/User/user">确定</a>
		</div>
	</div>
</div>
<include file="../xmyttz/view/footer.html"/>
</body>
</html>