<!DOCTYPE html>
<html>
<head>
<include file="../xmyttz/view/adminHead.html"/>
</head>
<body>
	<div id="right">
		<div class="right_nav">客户入金</div>
		<div class="right_content">
			<h3>信管家更改优先</h3>
			<table class="table_a" border="1">
                <thead>
					<tr style="font-weight: bold;">
					    <td width="20%">订单号</td>
                        <td width="15%">类型</td>
						<td width="15%">更改金额（美元）</td>
						<td width="10%">更改手数</td>
                        <td width="10%">期货账户</td>
                        <td width="10%">姓名</td>
                        <td width="15%">申请时间</td>
                        <td width="5%" align="center">操作</td>
                    </tr>
				</thead>
				<tbody>
                    <foreach name='deposit_x' item='v'>
	                   <tr class="tbody_a">
						    <td class="" style="">{$v.out_orderid}</td>
	                        <td class="">{$v.type}</td>
	                        <td class="" style="font-weight: bold">{$v.amount}</td>
	                        <td class="" style="font-weight: bold">{$v.hands}</td>
							<td class=""  style="font-weight: bold">{$v.account}</td>
	                        <td class="">{$v.name}</td>
	                        <td class="">{$v.sendtime}</td>
	                        <td><a href="/{$Request.module}/{$Request.controller}/detail_prior/id/{$v.id}" class="href_a">详情</a></td>
	                    </tr>
                    </foreach>
                </tbody>
            </table>
		</div>
		<div class="right_content">
			<h3>网站更改优先</h3>
			<table class="table_a" border="1">
                <thead><tr style="font-weight: bold;">
						<td width="20%">订单号</td>
                        <td width="15%">类型</td>
						<td width="15%">更改金额（美元）</td>
						<td width="10%">更改手数</td>
                        <td width="10%">期货账户</td>
                        <td width="10%">姓名</td>
                        <td width="15%">申请时间</td>
						<td width="5%" align="center">操作</td>
					</tr>
				</thead>
				<tbody>
                    <foreach name='deposit_w' item='v'>
	                   <tr>
							<td class="" style="">{$v.out_orderid}</td>
	                        <td class="">{$v.type}</td>
	                        <td class="">{$v.amount}</td>
	                        <td class="">{$v.hands}</td>
							<td class="">{$v.account}</td>
	                        <td class="">{$v.name}</td>
	                        <td class="">{$v.sendtime}</td>
	                        <td><a href="/{$Request.module}/{$Request.controller}/detail_prior/id/{$v.id}" class="href_a">详情</a></td>
	                    </tr>
                    </foreach>
                </tbody>
            </table>
		</div>
	</div>
</body>
</html>