<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="https://cashier.lianlianpay.com/payment/bankgateway.html" method="post" id="webllpay_form">
    <input type="text" name="version" value="1.0">
    <input type="text" name="oid_partner" value="201304121000001004">
    <input type="text" name="user_id" value="111111">
    <input type="text" name="busi_partner" value="101001">
    <input type="text" name="no_order" value="2013099129111111">
    <input type="text" name="dt_order" value="20130224120224">
    <input type="text" name="name_goods" value="测试商品">
    <input type="text" name="info_order" value="用户购买话费100元">
    <input type="text" name="rote_id" value=" ">
    <input type="text" name="timestamp" value="20171010110612">
    <input type="text" name="money_order" value="10">
    <input type="text" name="notify_url" value=" http://domain:port/notify
">
    <input type="text" name="url_return" value=" http://domain:port/return
">
    <input type="text" name="userreq_ip" value="*.*.*.*">
    <input type="text" name="url_order" value=" http://domain:port/orderUrl
">
    <input type="text" name="bank_code" value="01050000">
    <input type="text" name="pay_type" value="1">
    <input type="text" name="sign_type" value="RSA">
    <input type="text" name="sign" value="RSA签名结果">
    <input type="submit" value="立即支付">
</form>
</body>
</html>