<!DOCTYPE html>
<html>
<head> 
    <title>开户协议（国内期货）</title>
    <meta name="renderer" content="webkit" />
    <meta name="description" content="" />
    <meta name="keywords" content=" " />
    <link href="/Public/img/logo.ico" rel="shortcut icon"/>
	<link href="/Public/css/xieyi.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="contract-body">
        <div class="contract">
            <h1>开户协议（国内期货）</h1>
			<div class="words">
<p style="line-height:28px">
    <span style="font-family: 宋体">甲方（出资方）：&nbsp;&nbsp;&nbsp; </span>
</p>
<p style="line-height:28px">
    <span style="font-family: 宋体">乙方（用资方）：</span>
</p>
<p style="text-indent:28px;line-height:28px">
    <span style="font-family: 宋体">甲乙双方经友好协商签订本协议，甲方愿意以其合法拥有的资金向乙方的交易账号提供期货品种开仓占用保证金。乙方愿意以其合法拥有的资金通过我司官网上的第三方支付功能进行入金，系统在确认收到乙方入金成功后，及时入至乙方的交易账号，以便乙方进行期货买卖。经双方当事人协商一致，特订立本协议，以兹遵照履行。</span>
</p>
<p style="margin-left:0;text-indent:28px;line-height:28px">
    第一条 <span style="font-family: 宋体">&nbsp;</span><span style="font-family: 宋体">甲方及时为乙方创建交易账户，并将交易账号和密码等开户资料提交给乙方，以便乙方进行期货买卖。乙方的交易账户进行期货买卖等操作产生的一切风险和后果由乙方承担，与甲方无关。在此告诫乙方</span><span style="font-family:宋体">第一条要牢记期市交易有风险，交易需谨慎而为，做足功课，量力而行，理性参与。</span>
</p>
<p style="margin-left:0;text-indent:28px;line-height:28px">
    <span style="font-family: 宋体">第二条 </span><span style="font-family: 宋体">&nbsp;</span><span style="font-family: 宋体">在合作期间，乙方享有其名下交易账户在交易过程中所带来的全部盈亏，同时承担产生的全部风险。本协议的期限为12个月，自双方签定之日起计满一年止。若乙方欲延续本协议，乙方应在协议期限届满前十个交易日向甲方提出续签申请。</span>
</p>
<p style="text-indent:28px;line-height:28px">
    <span style="font-family: 宋体">第三条&nbsp; 第三条乙方使用我司官网第三方支付功能进行入金，首次开户时就需要填写出金时的姓名和银行卡号支付，一经填写即进行绑定，做为出金银行卡，不可修改。如银行卡丢失或其他客观原因，要求重新绑定的银行卡户名，需与原绑定的银行卡户名一致，经人工审核后方可绑定。</span>
</p>

<p style="text-indent:28px;line-height:28px">
    <span style="font-family: 宋体">第四条&nbsp; </span><span style=";font-family:宋体">第四条为更有效地控制交易风险，保障双方利益。甲方有权根据下方第九条相关规定，对乙方的交易账户低于盘中风控强平线的持仓或是在收盘前几分钟内对不符合隔仓标准的持仓进行强平。乙方的交易账户，如遇行情极端穿仓的，穿仓损失由乙方自行全部承担，乙方需及时另行汇款给甲方支付穿仓损失金额，甲方有权对乙方造成的穿仓损失进行追偿。</span>
</p>
                <p style="text-indent:28px;line-height:28px">
                    <span style="font-family: 宋体">第五条&nbsp; </span><span style=";font-family:宋体">第五条乙方使用我司官网的“第三方支付”功能进行入金，乙方的交易账号的全部入金在扣除交易过程中的盈亏及手续费后的余额仍归乙方所有。乙方使用我司官网的“第三方支付”功能进行出金，系统在确认相应交易账号的余额符合出金金额申请后，将及时汇至乙方名下相应的银行账户，汇款手续费用由乙方承担。
                </span>
                </p>

<p style="text-indent:28px;line-height:28px">
    <span style="font-family: 宋体">第七条&nbsp; 乙方应自行妥善保管账号及密码，同时应以自己的独立判断进行交易操作。因账号及密码泄露或将交易账号交由他人进行交易的，均视为乙方使用，乙方对由此而产生的投资风险和损失承担全部责任。  </span>
</p>
<p style="text-indent:28px;line-height:28px">
    <span style="font-family: 宋体">第八条 &nbsp;甲方按双方约定收取乙方子账户交易手续费，由软件在交易过程中自动扣取。</span>
</p>
<p style="text-indent:28px;line-height:28px">
    <span style="font-family: 宋体">第九条&nbsp; 在交易过程中，甲方和乙方双方的具体的责任和权利，具体如下：</span>
</p>
<p style="text-indent:28px;line-height:28px">
    <span style="font-family: 宋体">01)</span><span style="font-family: 宋体">出入金时段：白盘于08:30至15:30，夜盘于20：50至次日01：00，这两个时间段均可进行入金， 15：30后不进行出金汇款操作。</span>
</p>
<p style="text-indent:28px;line-height:28px">
    <span style="font-family: 宋体">02)</span><span style="font-family: 宋体">风控强平线：根据我司配借金额的百分比来设定，风控强平线随着配借金额增减而自动提高和降低。乙方自有余额低于风控强平线标准系统自动执行发出报单强平,直至成交。强平后余额多少由行情波动决定，余额仍归客户所有。如遇穿仓的风险由乙方全部自行承担，甲方有权向乙方追偿。如有变化另外通知。</span>
</p>
<img src="/Public/img/xieyi1.png" width="671" height="144" alt="">
<p style="text-indent:28px;line-height:28px">
    <span style="font-family: 宋体">03)</span><span style="font-family: 宋体">隔仓的规定：根据持仓占用保证金设置隔仓线</span><span style="font-family: 宋体">，符合隔仓要求自动隔仓至下个交易时段，乙方不想隔仓请自行平仓。如不符合资金标准的系统会自动强平超出部分的持仓。</span>
</p>
<p>
    <span style="font-size: 14px;font-family: 宋体">超过隔仓标准时间一到，乙方同时持仓多合约系统自动用超过部分占用保证金除以多个合约每手占用保证金，不足1手按1手进行强平，所有品种都会被执行超出部分强平，另注上期所同一合约的今仓和昨仓计为两种合约，同一品种的多单和空单也计为两种合约。</span>
</p>
<img src="/Public/img/xieyi2.png" width="674" height="202" alt="">
<p>
    <span style="font-size: 10.5pt; font-family: 宋体;">04)临近触发熔断机制时,禁止进行与行情反向的开仓操作，如客户之前有已开仓的，我司有权强平所有的反向持仓单。临近涨跌停前X%禁止开仓或强平，具体说明为比如IF日涨跌幅是10%，禁止开仓为10%-1.0%=9.0%，买卖单全部强平为10%-0.8%=9.2%。</span><span style="font-size: 10.5pt; font-family: 宋体;">交易所如有调整，我司随之调整。</span>
</p>
<img src="/Public/img/xieyi3.png" width="673" height="287" alt="">
<p style="text-indent:28px;line-height:28px">
    <span style="font-family: 宋体">05)以上所有风控和时间要求，乙方在达到前需自行平仓，如果乙方无自行平仓，而交给甲方软件执行的造成损失客户自负，甲方不承担责任，如穿仓甲方有权向乙方追偿损失。</span>
</p>
<p style="text-indent:28px;line-height:28px">
    <span style="font-family: 宋体">06）单一合约持仓量对于开仓的限制,股指期货所要操作的单一合约的持仓量低于1万以下禁止开仓。商品期货所要操作的单一合约的持仓量低于3万以下禁止开仓。 </span>
</p>
<p style="text-indent:28px;line-height:28px">
    <span style=";font-family:宋体">07)</span><span style=";font-family:宋体">乙方进行网上交易所需的计算机软硬件及网络环境由乙方自行解决。提醒乙方使用符合网上交易软件要求、无病毒的计算机登陆乙方期货操作帐户，以确保交易顺畅和账户安全。</span>
</p>
<p style="text-indent:28px;line-height:28px">
    <span style=";font-family:宋体">08)</span><span style=";font-family:宋体">期货公司或交易软件提供商这两者而发生通讯系统繁忙、中断，故障，网络及信息系统故障，电力中断等原因导致乙方交易出现延迟、中断或数据错误，甲方会及时联系期货公司或是交易软件提供商，有些故障属不可控力造成的在排除上可能无法即时解决，甲方不承担责任。</span>
</p>
<p style="text-indent:28px;line-height:28px">
    <span style=";font-family:宋体">第十条&nbsp; 甲方按照双方约定收取乙方的交易账号的手续费。甲方给予乙方的手续费具体收费如下为：<p>手续费为交易所的_________倍，每月管理费为优先资金的_________%。一次性收取一个月管理费，不足一个月不退回。 </p>
</p>
                <p style="text-indent:28px;line-height:28px">
                    <span style=";font-family:宋体">如部分品种当天开平交易所规定开平都收较高手续费的，次日平仓开平都收正常手续费的，由于甲方主帐号是多帐号交差平仓，A昨天开今平为平昨，B今开明天平为平昨，但主帐号B今开的仓可能被A平掉为平今，以此类推，主帐号基本都是平今的，所以这类品种全部按交易所规定的当天开平较高手续费收取。</span>
                </p>
<p style="text-indent:28px;line-height:28px">
    <span style=";font-family:宋体">第十一条&nbsp; 本合同通过下述第<span style="text-decoration:underline;">&nbsp;&nbsp;&nbsp;&nbsp; </span>种途径签订，对甲乙双方均有约束力。</span>
</p>
<p style="text-indent:28px;line-height:28px">
    <span style=";font-family:宋体">1</span><span style=";font-family:宋体">）乙方到甲方所在地现场签订；</span>
</p>
<p style="text-indent:28px;line-height:28px">
    <span style=";font-family:宋体">2</span><span style=";font-family:宋体">）双方确认身份后通过邮寄方式或传真进行确认；</span>
</p>
<p style="text-indent:28px;line-height:28px">
    <span style=";font-family:宋体">第十二条&nbsp; 本合同仅在乙方名下客户的交易账号中仍有其入金交易后的余额时生效，之后至甲方结算并退还交易账号余额后自然失效，甲方有权收回交易账号并更改密码。如乙方未重新支付风险保证金，此后的交易账户盈利与乙方无关。后续乙方名下相应客户重新入金的，有可能变更交易账号，本合同就根据双方协议继续生效。</span>
</p>
<p style="text-indent:28px;line-height:28px">
    <span style=";font-family:宋体">第十三条 本合同在履行中发生争议，双方应本着互谅互利的态度协商解决，协商不成时，双方当事人可向有关部门提出诉讼。</span>
</p>
<p style="text-indent:28px;line-height:28px">
    <span style=";font-family:宋体">第十四条 本合同一式两份，双方各执一份，双方签字后生效。</span>
</p>
<p style="text-indent:28px;line-height:28px">
    <a></a><span style=";font-family:宋体">&nbsp;</span>
</p>
<p style="line-height:28px;text-autospace:none">
    <span style="font-family: 宋体">甲方：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;乙方：</span>
</p>
<p style="line-height:28px;text-autospace:none">
    <span style="font-family: 宋体">签字（盖章/手印）：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 签字（盖章/手印）：</span>
</p>
<p>
    <span style="font-size: 14px;font-family: 宋体">日期：<span style="text-decoration:underline;">&nbsp;&nbsp;&nbsp;&nbsp;</span>年<span style="text-decoration:underline;">&nbsp;&nbsp;&nbsp;&nbsp;</span>月<span style="text-decoration:underline;">&nbsp;&nbsp;&nbsp;&nbsp;</span>日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日期：<span style="text-decoration:underline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>年<span style="text-decoration:underline;">&nbsp;&nbsp; &nbsp;&nbsp;</span>月<span style="text-decoration:underline;">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</span>日&nbsp;</span>
</p>
</div>
</div>
</body>
</html>