<!DOCTYPE html>
<html>
<head> 
    <title>开户协议（国际期货）</title>
    <meta name="renderer" content="webkit" />
    <meta name="description" content="" />
    <meta name="keywords" content=" " />
    <link href="/Public/img/logo.ico" rel="shortcut icon"/>
	<link href="/Public/css/xieyi.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="contract-body">
        <div class="contract">
            <h1>开户协议（国际期货）</h1>
			<div class="words">
			<p style="text-align:right;line-height:32px">
    <span style=";font-family:宋体">合同编号：第201705&nbsp;&nbsp;&nbsp; 号</span>
</p>
<p style="line-height:29px">
    <span style="font-family: 宋体">甲方（出资方）：&nbsp;&nbsp;&nbsp; </span>
</p>
<p style="line-height:29px">
    <span style="font-family: 宋体">乙方（用资方）：</span>
</p>
<p style="line-height:29px">
    <span style="font-family: 宋体">&nbsp;</span>
</p>
				<p style="text-indent:28px;line-height:29px">
    <span style="font-family: 宋体">甲乙双方经友好协商签订本协议，甲方愿意以其合法拥有的资金向乙方的交易账号提供期货品种开仓占用保证金。乙方愿意以其合法拥有的资金使用信管家官网下载的QY-YT交易软件上的“银期转账”功能进行入金，系统在确认收到乙方入金成功后，及时入至乙方名下相应客户的交易账号，以便乙方名下相应客户进行期货买卖。经双方当事人协商一致，特订立本协议，以兹遵照履行。</span>
</p>
<p style="margin-left:0;text-indent:28px;line-height:29px">
    第一条 <span style="font-family: 宋体">&nbsp;</span><span style="font-family: 宋体">甲方及时为乙方创建交易账户，并将交易账号和密码等开户资料提交给乙方，以便乙方进行期货买卖。乙方的交易账户进行期货买卖等操作产生的一切风险和后果由乙方承担，与甲方无关。在此告诫乙方</span><span style="font-family:宋体">第一条要牢记期市交易有风险，交易需谨慎而为，做足功课，量力而行，理性参与。</span>
</p>
<p style="margin-left:0;text-indent:28px;line-height:29px">
    <span style="font-family: 宋体">第二条 </span><span style="font-family: 宋体">&nbsp;</span><span style="font-family: 宋体">第二条在合作期间，乙方享有其名下交易账户在交易过程中所带来的全部盈亏，同时承担产生的全部风险。本协议的期限为12个月，自双方签定之日起计满一年止。若乙方欲延续本协议，乙方应在协议期限届满前十个交易日向甲方提出续签申请。</span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style="font-family: 宋体">第三条&nbsp; 乙方使用网站上的第三方支付功能进行资金的充值或提取，首次需先用手机注册我司官网用户，然后进一步开户，开户需填写出金时的姓名和银行卡号支付，一经填写即进行绑定，做为出金银行卡，不可修改。如银行卡丢失或其他客观原因，要求重新绑定的银行卡户名，需与原绑定的银行卡户名一致，经人工审核后方可绑定。</span>
</p>

<p style="text-indent:28px;line-height:29px">
    <span style="font-family: 宋体">第四条&nbsp; </span><span style=";font-family:宋体">为更有效地控制交易风险，保障双方利益。甲方有权根据下方第八条相关规定，对乙方的交易账户低于盘中风控强平线的持仓或是在收盘前几分钟内对不符合隔仓标准的持仓进行强平。乙方的交易账户，如遇行情极端穿仓的，穿仓损失由乙方自行全部承担，乙方需及时另行汇款给甲方支付穿仓损失金额，甲方有权对乙方造成的穿仓损失进行追偿。</span>
</p>
                <p style="text-indent:28px;line-height:29px">
                    <span style="font-family: 宋体">第五条&nbsp; </span><span style=";font-family:宋体">乙方使用网站上的第三方支付功能进行资金的充值或提取，乙方名下相应客户的交易账号的全部入金在扣除交易过程中的盈亏及手续费后的余额仍归入金操作人本人所有。乙方我司提定的网站上登录注册手机，发出出金指令后系统应该及时从相应交易账号中扣取，并将出金的金额及时汇至乙方名下相应的银行账户，汇款手续费用由乙方承担。</span>
                </p>
<p style="margin-left:0;text-indent:28px;line-height:29px">
    <span style="font-family: 宋体">第六条 </span><span style="font-family: 宋体">&nbsp;</span><span style="font-family: 宋体">乙方应自行妥善保管账号及密码，同时应以自己的独立判断进行交易操作。因账号及密码泄露或将交易账号交由他人进行交易的，均视为乙方使用，乙方对由此而产生的投资风险和损失承担全部责任。 </span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style="font-family: 宋体">第七条&nbsp; 甲方按双方约定收取乙方子账户交易手续费，由软件在交易过程中自动扣取。 </span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style="font-family: 宋体">第八条 &nbsp;在交易过程中，甲方和乙方双方的责任和权利，具体如下：</span>
</p>
<p style="line-height:29px">
    <span style="font-family: 宋体"> 第九条</span><span style="font-family: 宋体">&nbsp; 在交易过程中，甲方和乙方双方的责任和权利，具体如下：</span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style="font-family: 宋体">01</span><span style="font-family: 宋体">）出入金时段：在08:30-18:30这一时间段内均可出入金， 在18：30后不进行出金汇款操作。乙方如要操作夜盘在须凌晨05:00前安排入金。</span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style="font-family: 宋体">02)</span><span style="font-family: 宋体">风控强平线：根据持仓占用保证金和优先资金金额来设置强平线，正常情况下优先资金小于20万美元，强平线等于持仓占用保证金的百分三，交易账号自有资金低于强平线，系统自动执行强平所有持仓。如遇行情极端穿仓的，穿仓损失由乙方自行全部承担，甲方有权对乙方造成的穿仓损失进行追偿。</span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style="font-family: 宋体">以恒生为例持仓1手占用1万开仓保证金*3%=300美元，其他品种的开仓占用保证金多少详看下方列表。乙方名下相应客户的交易帐号的优先金额越大，则风控强平线将相应的提高。甲方有权视乙方交易账号的优先资金大小，对每持仓1手的风控强平线进行调整，并及时通知乙方。</span>
</p>
<p style="line-height:29px">
    <span style="font-family: 宋体">优先资金小于等于20万美元，强平线等于持仓占用开仓保证金的3%，1万*3%=300美元；</span>
</p>
<p style="line-height:29px">
    <span style="font-family: 宋体">优先资金大于20万美元小于等于30万美元，强平线等于持仓占用开仓保证金的4%，1万*4%=400美元；</span>
</p>
<p style="line-height:29px">
    <span style="font-family: 宋体">优先资金大于30万美元小于等于40万美元，强平线等于持仓占用开仓保证金的5%，1万*5%=500美元；</span>
</p>
<p style="line-height:29px">
    <span style="font-family: 宋体">优先资金大于40万美元小于等于50万美元，强平线等于持仓占用开仓保证金的6%，1万*6%=600美元；</span>
</p>
<p style="line-height:29px">
    <span style="font-family: 宋体">优先资金大于50万美元小于等于60万美元，强平线等于持仓占用开仓保证金的7%，1万*7%=700美元；</span>
</p>
<p style="line-height:29px">
    <span style="font-family: 宋体">优先资金大于60万美元小于等于70万美元，强平线等于持仓占用开仓保证金的8%，1万*8%=800美元；</span>
</p>
<p style="line-height:29px">
    <span style="font-family: 宋体">优先资金大于80万美元小于等于90万美元，强平线等于持仓占用开仓保证金的9%，1万*9%=900美元；；</span>
</p>
<p style="line-height:29px">
    <span style="font-family: 宋体">优先资金大于等于90万美元，强平线等于持仓占用开仓保证金的10%，1万*10%=1000美元；</span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style="font-family: 宋体">03）隔仓的规定：根据持仓手数</span><span style="font-family: 宋体">和对应品种</span><span style="font-family: 宋体">设置隔仓线，乙方</span><span style="font-family: 宋体">名下相应客户的交易账号隔</span><span style="font-family: 宋体">中午盘、</span><span style="font-family: 宋体">隔</span><span style="font-family: 宋体">下午盘、</span><span style="font-family: 宋体">隔非农</span><span style="font-family: 宋体">符合隔仓要求，则自动隔仓至下个交易时段，夜盘默认全部自动强平。如乙方</span><span style="font-family: 宋体">的交易账号</span><span style="font-family: 宋体">自有资金余额符合以下标准要隔夜盘，需向甲方提出申请，夜盘隔仓只要一次申请，后续资金符合也自行隔夜盘，</span><span style="font-family: 宋体">乙方</span><span style="font-family: 宋体">不想隔仓请自行平仓。如不符合隔仓标准的持仓，系统会自动执行强平。 </span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style="font-family: 宋体">如遇某个交易所节日放假或提前休市，则由，则按下表中隔周末的隔仓标准标准。例如恒生因节日无夜盘于16：30提前休市，下午收盘前5分名就执行隔夜晚23：30时的隔仓标准。例如美盘因节日在周二休市，周一收盘时执行隔周标准。</span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style="font-family: 宋体">对锁的隔仓，任何一个隔仓时段如账号多空对锁比例较大要隔仓，需在强平时间到来之前，提前20分钟向甲方提出申请，甲方将扣除对锁单，只用单角持仓来人工审核是否符合隔仓，因系统无法识别对锁只能配合使用人工审核，需每次需要时及时提出申请。乙方在提出申请后，</span><span style="font-family: 宋体">甲方将在</span><span style="font-family: 宋体">收盘</span><span style="font-family: 宋体">前半小</span><span style="font-family: 宋体">时</span><span style="font-family: 宋体">对帐户进行审核，符合条件的将对账号进行冻结，不允许开仓也不允许平仓，乙方需在第二个交易时段自行向甲方提出解除隔夜冻结交易账号的限制，一旦申请解除，则原发的对锁单隔夜申请将自动作废，下次需再重新发出申请。</span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style="font-family: 宋体">04</span><span style="font-family: 宋体">）隔仓的利息：</span><span style="font-family: 宋体">乙方名下相应客户需进行隔夜交易的，要向甲方提出申请。甲方审核通过后，乙方的交易账号可以根据上方第九条中3）隔仓的相关规定，符合标准的系统自动隔仓，不符合标准的执行强平。甲方按乙方隔夜持仓手数收取每手50美元月息，或每手5美日息，乙方自行选择支付月息或日息。甲方可直接从乙方名下相应客户的交易帐户中扣取，选择支付月息一次性收取一个月利息，不足一个月不退回。乙方名下相应客户的隔夜持仓手数在3手以内（含3手）的不收息。</span>
</p>
<p style="line-height:29px">
    <span style=";font-family:宋体">&nbsp;&nbsp;&nbsp; 05</span><span style=";font-family:宋体">）临近触发熔断机制时,禁止进行与行情反向的开仓操作，如乙方名下相应客户的交易账号之前有已开仓的，我司有权强平所有的反向开仓单。乙方名下相应客户违规再开仓造成甲方无法及时平仓或是无对手盘接单被迫留仓隔夜，乙方需及时补充资金。甲方有权对乙方进行追偿，并对乙方违规操作进行如下处罚：若亏损按亏损金额进行罚款，罚款从乙方自有资金中扣减，若盈利归甲方所有。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style=";font-family:宋体">06</span><span style=";font-family:宋体">）以上所有风控和时间要求，乙方在达到前需自行平仓，如果乙方无自行平仓，而交给甲方软件执行的，造成损失客户自负，甲方不承担责任，如遇行情极端穿仓的，穿仓损失由乙方自行全部承担，甲方有权对乙方造成的穿仓损失进行追偿。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style=";font-family:宋体">07)</span><span style=";font-family:宋体">乙方使用信管家交易软件，盘中做出开平仓交易操作，且开平仓指令及价格都正确，但持仓没有发生改变，请先查询下方“挂单”，如状态为“正在申报”备注为“正在申报”或“转发命令失败”，长时间没变化并无法进行撤单操作，请乙方及时跟甲方客服联系，因该操作未收到交易所是否“成交回报”，则不能确定是否成交，甲方会马上跟期货公司确认，由期货公司核查是否成交并处理该项交易操作。若乙方进行撤单操作，状态为“未成交，已撤单”备注为“转发命令失败超时”，最终期货公司核实如已成交，依然会按该交易操作处理到相应的子帐户中，如未成交乙方可以重新进行电话平仓委托，我司也会马上联系期货公司，以期货公司电话确认平仓点位并报给客户。由于期货公司服务器中断堵塞造成的损失或盈利由乙方自行承担，与甲方无关。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style=";font-family:宋体">08</span><span style=";font-family:宋体">）乙方进行网上交易所需的计算机软硬件及网络环境由乙方自行解决。乙方应使用符合交易软件要求、无病毒的计算机登陆交易帐户，以确保交易顺畅和账户安全。&nbsp;&nbsp;&nbsp;&nbsp; </span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style=";font-family:宋体">09</span><span style=";font-family:宋体">）因期货公司或交易软件提供商这两者发生通讯系统繁忙、中断、故障、网络及信息系统故障、电力中断等原因导致乙方交易出现延迟、中断或数据错误，甲方会及时联系期货公司或是交易软件提供商，有些故障属不可控力造成的，在排除上可能无法即时解决，甲方不承担责任。&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style=";font-family:宋体">10</span><span style=";font-family:宋体">）交易涉及美元或港币或欧元，与人民币换汇问题。乙方名下相应客户的交易账号如进行多国家品种交易，甲方参照现银行挂牌汇率加上相应购汇成本，暂定出入金汇率如下，如汇率波动较大，甲方有权进行调整。 1美元=7.200元， 1基币=1美元。 乙方名下客户的相应交易账号人民币总余额=基币总余额*7.2汇率。</span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style=";font-family:宋体">11</span><span style=";font-family:宋体">）甲方将对乙方的交易账号开始交易至今平仓盈亏合计如为负数，则出入金同一汇率；平仓盈亏为正数，则从交易账号余额中扣取相应的盈利汇差。关于盈利汇差的收取规定及相关说明如下：</span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style=";font-family:宋体">交易账号的余额较大时，客户仍在交易的交易过程中并不扣减，一般在交易账号大部分或是全部出金时扣取，如有以下情况的提前扣取，平仓盈亏合计正数值大于1万美元的，每多1万美元扣一次盈利汇差，如果后续平仓盈亏回撤转为负值，则退还原本收取的所有盈利汇差。</span>
</p>
<p>
    <span style="font-size:14px;font-family:宋体">举例：从结算单可以查询到所有入金和交易记录，查询结果假设为乙方名下相应客户在交易账号入3万美元，交易后余额2.2万美元，手续费0.6万美元，平仓盈亏0.8万美元。盈利汇差=平仓盈亏0.8万美元*0.2=1600元人民币，那交易账号余额=2.2万美元*7.2汇率-1600元人民币。平仓盈亏0.8万美元，指的是每笔交易的单子平仓盈亏相加之和，但并不包含手续费的收取，并不是扣手续费后的账面盈亏。平仓盈亏可以从交易帐号左边“查询”位置，查出历史以往所有的结算单，上方有列明“平仓盈亏”的金额。</span>
</p>
			</div>
			<img src="/Public/img/xieyi.png" alt=""  width="687" height="799">
<div class="words">
<p style="text-indent:28px;line-height:29px">
    <span style=";font-family:宋体">第九条&nbsp; 甲方按照双方约定收取乙方的交易账号的手续费。甲方给予乙方的手续费为：大恒<span style="text-decoration:underline;">&nbsp;&nbsp; </span>港元、小恒<span style="text-decoration:underline;">&nbsp;&nbsp; </span>港元、H股<span style="text-decoration:underline;">&nbsp;&nbsp; </span>港元、小H<span style="text-decoration:underline;">&nbsp;&nbsp; </span>港元、原油<span style="text-decoration:underline;">&nbsp;&nbsp; </span>美元、金银铜气<span style="text-decoration:underline;">&nbsp;&nbsp; </span>美元、纳标道<span style="text-decoration:underline;">&nbsp;&nbsp; </span>美元、外汇<span style="text-decoration:underline;">&nbsp;&nbsp; </span>美元、富时<span style="text-decoration:underline;">&nbsp;&nbsp; </span>美元，人民币<span style="text-decoration:underline;">&nbsp;&nbsp; </span>元，德指<span style="text-decoration:underline;">&nbsp;&nbsp; </span>欧元，小德<span style="text-decoration:underline;">&nbsp;&nbsp; </span>欧元。 </span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style=";font-family:宋体">第十条&nbsp; 本合同通过下述第<span style="text-decoration:underline;">&nbsp;&nbsp;&nbsp;&nbsp; </span>种途径签订，对甲乙双方均有约束力。</span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style=";font-family:宋体">1</span><span style=";font-family:宋体">）乙方到甲方所在地现场签订；</span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style=";font-family:宋体">2</span><span style=";font-family:宋体">）双方确认身份后通过邮寄方式或传真进行确认；</span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style=";font-family:宋体">第十一条&nbsp; 本合同仅在乙方的交易账号中仍有其入金交易后的余额时生效，之后至甲方结算并退还交易账号余额后自然失效，甲方有权收回交易账号并更改密码。如乙方未重新支付风险保证金，此后的账户盈利与乙方无关。如乙方重新入金的，有可能变更交易账号，本合同就根据双方协议继续生效。</span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style=";font-family:宋体">第十二条 本合同在履行中发生争议，双方应本着互谅互利的态度协商解决，协商不成时，双方当事人可向有关部门提出诉讼。</span>
</p>
<p style="text-indent:28px;line-height:29px">
    <span style=";font-family:宋体">第十三条 本合同一式两份，双方各执一份，双方签字后生效。</span>
</p>
    <p style="">
        <span style="font-family: 宋体">甲方:</span><span><span style="font-family: 宋体;padding-left: 400px">乙方:</span></span>
    </p>
    <p style="">
        <span style="font-family: 宋体">签字（盖章/手印）： </span>  <span>
    <span style="font-family: 宋体;padding-left: 295px">签字（盖章/手印）： </span>
</span>
    </p>
    <p style="">
    <span style="font-family: 宋体">日期：______年______月______日 </span> <span>
    <span style="font-family: 宋体;padding-left: 220px">日期：______年______月______日 </span>
</span>
    </p>



</div>
        </div>

    </div>
</body>
</html>
