<!DOCTYPE html>
<html>
<head>
	<title>Yingtou-微信请求</title>
    <include file="../xmyttz/view/head.html"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
	<script>var user_active='.recharge';var nav_active="#nav_user";</script>
    <link href="/Public/css/user.css" rel="stylesheet" type="text/css" />
    <script src="/Public/js/user.js" type="text/javascript"></script>
    <script src="/Public/js/qrcode.min.js" type="text/javascript"></script>
</head>

<body>
<include file="../xmyttz/view/header.html"/>
<div class="user_box">
	<div class="user_right">
		<h4><span>账户充值</span><a href="/{$Request.module}/Userinfo/dealRecord?day=7" class="deal_record">充值记录</a></h4>
		<div class="tishi">
			<p class="pc">提示：01.打开手机微信，点击右上角“+”，选择“扫一扫”。</p>
			<p class="pc">　　　02.使用微信“扫一扫”对着电脑上二维码，进行扫描。</p>
			<p class="pc">　　　03.扫描成功后，点击“转账”用支付密码完成支付。</p>
			<p class="pc">　　　04.支付完成后，在弹窗中点击“关闭”即可。</p>
			<p class="pc red">　　　备注：每次生成的二维码不同，逾期支付请返回重新申请</p>
			<p class="mt">提示：01.用手机拍照拍下该页面，保存在相册上。</p>
			<p class="mt">　　　02.打开手机微信，点击右上角“+”，选择“扫一扫”。</p>
			<p class="mt">　　　03.使用微信“扫一扫”点右上角“相册”，选定该相片扫描。</p>
			<p class="mt">　　　04.扫描成功后，点击“转账”用支付密码完成支付。</p>
			<p class="mt">　　　05.支付完成后，在弹窗中点击“关闭”即可。</p>
			<p class="mt red">　　　备注：每次生成的二维码不同，逾期支付请返回重新申请。</p>
		</div>
		<input type="hidden" value="{$info.no_order}" name="" id="no_order">
		<div id="qrcode" class="qrcode"></div>
	</div>
</div>
<div class="phone">
<div id="header">
	<a href="javascript:history.back(-1)" class="back"><img src="/Public/img/mt_back.png" alt="" width=25 height=25></a>
	<img src="/Public/img/list.png" alt="" class="list">
	国际期货
</div>
</div>
<div id="confirm_success" class="tanchu_system">
	<div class="tanchu_system_box">
		<h3>支付成功</h3>
		<div class="question"><img src="/Public/img/success.png" alt=""><p>工作日期间，入金到账时间为20分钟左右,请耐心等待！</p></div>
		<div class="answer">
			<a href="/Personal/Userinfo/dealRecord" class="error">关闭</a>	
		</div>
	</div>
</div>

<div id="confirm_error" class="tanchu_system">
	<div class="tanchu_system_box">
		<h3>支付超时</h3>
		<div class="question"><img src="/Public/img/warning.png" alt=""><p>支付超时，请重新提交订单</p></div>
		<div class="answer">
			<a href="/Personal/Userinfo/dealRecord" class="error">关闭</a>	
		</div>
	</div>
</div>
<script>
var qrcode = new QRCode('qrcode', {
  text: "{$info.dimension_url}",
  width: 140,
  height: 140,
  colorDark : '#000000',
  colorLight : '#ffffff',
  correctLevel : QRCode.CorrectLevel.H
});
</script>
<script>
$(function(){
	setTimeout(function(){
		alert('二维码已超时，请重新提交');
		window.location = '/Personal/User/user';
	},300000);
	var no_order = $('#no_order').val();
	var interval = setInterval(function(){
		$.ajax({
			type:'POST',
			url:conUrl+'/had_pay',
			data:{'no_order':no_order},
			success:function(data){
				if(data.flag==1){
					showOverlay();
					$('#confirm_success').show();
					setTimeout(function(){
						window.location = '/Personal/User/user';
					},5000);
					clearInterval(interval);
				}
			}
		})
	},3000);
})
</script>
</body>
</html>