<!DOCTYPE html>
<html lang="en">
<head>
    <title>Yingtou-支付宝</title>
  <include file="../xmyttz/view/head.html" />
    <link href="/Public/css/index.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/Public/css/zhifubao.css" type="text/css">
    <script src="/Public/js/peizi.js" type="text/javascript"></script>
</head>
<body>
<include file="../xmyttz/view/header.html"/>
<div class="pc">
    <img src="/Public/img/banner_goods.jpg" alt="" class="top_bg" />
</div>
<div class="box">
    <ul>
        <li>用户：<input type="text" name="name"></li>
        <li>充值类型:<input type="text" name="type"></li>
    </ul>
</div>

<include file="../xmyttz/view/footer.html" />
</body>
</html>