<!DOCTYPE html>
<html>
<head>
	<title>YT-公司特色</title>
    <include file="../xmyttz/view/head.html"/>
	<script>var about_active='.about';var nav_active="#nav_about";</script>
    <link href="/Public/css/advantage.css" rel="stylesheet" type="text/css" />
    
</head>

<body>
<include file="../xmyttz/view/newheader.html"/>
<!-- 导航END -->
<div class="phone">
	<!--<div id="header">-->
	<!--<a href="javascript:history.back(-1)" class="back"><img src="/Public/img/mt_back.png" alt="" width=25 height=25></a>-->
		<!--<img src="/Public/img/list.png" alt="" class="list">-->
		<!--公司特色-->
	<!--</div>-->
	
	<div class="advantage_contain">
		<img src="/Public/img/advantage.png" alt="" style="display:block;margin:auto;width:100%">
		<div class="box">
			<dl>
				<dt><img src="/Public/img/newbanb1.png"></dt>
				<dd>
					<div class="dd-t"><span style="color:#0379b5;">低成本</span></div>
					<div class="dd-c">撮合交易无点差，0利息0管理费</br>
						最低1000元即可交易</div>
				</dd>
				<div class="clear"></div>
			</dl>
			<dl>
				<dt><img src="/Public/img/newbanb2.png"></dt>
				<dd>
					<div class="dd-t"><span style="color:#B2882C;">随时玩</span></div>
					<div class="dd-c">T+0双向交易，可买涨买跌</br>
						易学易懂，随时掌握盈利机会</div>
				</dd>
				<div class="clear"></div>
			</dl>
			<dl>
				<dt><img src="/Public/img/newbanb3.png"></dt>
				<dd>
					<div class="dd-t"><span style="color:#745db6;">资金安全</span></div>
					<div class="dd-c">拥有多年运作经验，法人账户</br>
						安全保障</div>
				</dd>
				<div class="clear"></div>
			</dl>
			<dl>
				<dt><img src="/Public/img/newbanb4.png"></dt>
				<dd>
					<div class="dd-t"><span style="color:#F90;">国际监管</span></div>
					<div class="dd-c">银行和香港证监会监管</br>
						规范的信用评审，风险监管体系</div>
				</dd>
				<div class="clear"></div>
			</dl>
		</div>
	</div>
</div>
<include file="../xmyttz/view/newfooter.html"/>
</div>
<style>#header_bottom .to_deposit{background-color:#268bf2;color:#fff;}</style>
</body>
</html>