<!DOCTYPE html>
<html>
<head> 
    <include file="../xmyttz/view/head.html"/>
	<link href="/Public/css/index.css" rel="stylesheet" type="text/css" />
	<script>var about_active='.about';var nav_active="#nav_about";</script>
    <link href="/Public/css/xmyttz.css" rel="stylesheet" type="text/css" />
    
</head>

<body>
<include file="../xmyttz/view/header.html"/>
<!-- 导航END -->
<div class="pc">
<img src="/Public/img/banner_about.jpg" alt="" class="top_bg" id="jiaoyi">
<div class="department_list">
	<div class="department_content">
		<img src="/Public/img/index_jiaoyi.jpg" alt="">
		<h2>交易部</h2>
		<span id="xingzheng">包含期货交易部、证券交易部和国际交易部。
		期货交易部：主要交易国内期货，包括股指期货和商品期货。
1、制定项目的交易计划及交易策略并执行； 
2 、做好风控，严格把控资金的风险； 
3、完成公司的操盘任务。
证券交易部：主要交易国内股票，包括上交所和深交所发行的股票。
国际交易部：主要交易国外股票和期货。
</span>
	</div>
	<div class="department_content">
		<img src="/Public/img/index_xingzheng.jpg" alt="">
		<h2>行政部</h2>
		<span id="pinxuan">1、负责服务、协调总经理办公室工作，检查落实总经理室安排的各项工作。并及时反馈总经理室。
2、负责安排公司的年度工作会议、月度及每周工作例行等会议，做好记录，编写会议纪要和决议，并督促各部门贯彻执行，及时了解和反馈有关信息。
3、负责各类物品的采购工作，确保按时完成各项采购任务，并保证所采购的物料质量符合要求；
4、完善公司行政管理制度，管理公司资产，做好物品的管理工作及各项后勤保障工作。
5、根据各部门对人力资源的需求，作好员工的招聘、考核、选拔、调配、离职等工作。
6、负责每年底制定下一年员工业余活动方案，报公司审批后，组织开展各类员工业余活动，丰富员工业余文化生活。</span>
	</div>
	<div class="department_content">
		<img src="/Public/img/index_pinxuan.jpg" alt="">
		<h2>品宣部</h2>
		<span id="caiwu">1、负责客户开户，向客户揭示期货、股票交易风险，向客户介绍期货、股票交易规则和流程，为客户办理开户手续，签订合同，审验有关证明；
2、负责客户资料档案管理，并将有关客户资料通知相关业务部门（除依法接受调查和检查外，应当为客户保密）；
3、进行市场调研及客户回访工作，了解客户需求，反馈市场信息；
4、负责客户接待，建立健全客户投诉处理制度，公正、公平、及时、稳妥地处理客户纠纷，将客户的投诉材料和处理结果存档；
5、建立客户资料档案，有关开户、变更、销户的客户资料档案，交易指令记录、交易结算记录、错单记录、客户投诉档案以及其他业务记录。
6、公司品牌宣传与推广。</span>
	</div>
	<div class="department_content">
		<img src="/Public/img/index_caiwu.jpg" alt="">
		<h2>财务部</h2>
		<span id="peixun">1、贯彻落实本部岗位责任制和工作标准，密切与业务、计划等部门的工作联系，加强与有关部门的协作配合工作；
2、组织《会计法》及国家、地方政府其他有关财务工作法律法规的贯彻落实；
3、负责制订、实施、监督、检查各项财务管理制度，保证公司财务管理的规范化；
4、正确进行会计核算，对公司的各项财务收支和经济活动进行反映和监督，定期编制各项财务报表和监管报表；
5、合理调度资金，为客户出入金等提供相关服务；
6、组织公司的成本管理工作，进行成本预测、控制、核算、分析和考核，着眼于企业未来的经营活动，有效履行预测、考核等职能，对企业现在和未来的财务状况及获利能力作出评价；
7、单独设立每个客户的保证金账户，封闭运行。</span>
	</div>
	<div class="department_content">
		<img src="/Public/img/index_peixun.jpg" alt="">
		<h2>培训部</h2>
		<span>以培养职业交易员为目标，由期货交易培训课程基础课程和期货交易培训课程两套组成。
1、期货交易培训课程基础课程简介：
       是以基础为主，主要介绍讲解了目前国内市场的几种交易模式，例如：短线交易，套利手法，套利保值等的。
       各种指标在实战中的运用技巧，期货实战技术精华讲解。通过实时实战让期货学员在短时间内充分了解各种交易模式的交易方法及技巧。
       详细的讲解了资金管理，风险控制，决策体系建立等为主。让我们的学习更加专业化。
	   2、期货交易培训课程简介：
        直奔主题，全部是实战技术，是初中级主要内容，都是目前国际国内在职操盘手通过10几年的实战经验总结出来的行情分析方法。各种与散户不同的分析方法。
       职业操盘手通过实战总结出来的10几种职业操盘手常用的进出场方法，各种行情的不同的进场方法，进场后各种行情不同的止损点的设置。如何跟踪止盈，如何让盈利。如何快速找出目前行情的关键支撑位及阻力位。</span>
	</div>
</div>
</div>
<include file="../xmyttz/view/footer.html"/>
</div>
</body>

</html>